body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
}

header {
  padding: 1rem;
  border-bottom: 0.5px solid #CCC;
  margin-bottom: 1rem;
}

header h1 {
  font-size: 1.5rem;
  margin: 0;
}

section {
  padding: 1rem;
}

section h3 {
  font-size: 1.2rem;
}

section p {
  font-size: 0.8rem;
  color: #666;
}

#footer {
  font-size: 0.8rem;
  color: #666;
}

.chart-scroller {
  overflow-x: scroll;
  margin: 0 -1rem;
}

.chart-scroller #ratio-chart-container {
  min-width: 1875px; /* 25px * 75 */
  width: 100%;
  height: 600px;
}

.chart-scroller #count-chart-container {
  min-width: 1875px;
  width: 100%;
  height: 600px;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

#sorter input {
  margin: 0px 2px;
}
